<div class="posts">
    <!-- <div class="grid-xlarge"> -->
    <div class="posts__container" itemscope data-columns>
        {% assign sorted_cats = site.categories | sort %}
        
        {% for category in sorted_cats %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <article class="posts__gallery">
            <a class="posts__link" href="{{ post.url | prepend: site.baseurl }}/works/{{ category_name }}" itemprop="url">
                <figure class="posts__galleryimg">
                    <img src="{{ category | first | prepend: site.imgs }}.jpg" alt="{{ category | first | capitalize }}"
                        data-aos="fade-in" itemprop="image" />
                </figure>
                <strong itemprop="name">{{ category | first | capitalize }}</strong>
            </a>
        </article>
        {% endfor %}
    </div>
    <!-- </div> -->