@font-face {
    font-family: "Plus Jakarta Text";
    font-style: light;
    font-weight: 300;
    font-display: swap;
    src: local("PlusJakartaText-Light") format("otf");
}

@font-face {
    font-family: "Plus Jakarta Text";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("PlusJakartaText-Regular") format("otf");
}

@font-face {
    font-family: "Plus Jakarta Text";
    font-style: medium;
    font-weight: 500;
    font-display: swap;
    src: local("PlusJakartaText-Medium") format("otf");
}

@font-face {
    font-family: "Plus Jakarta Text";
    font-style: semibold;
    font-weight: 600;
    font-display: swap;
    src: local("PlusJakartaText-SemiBold") format("otf");
}

@font-face {
    font-family: "Plus Jakarta Text";
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: local("PlusJakartaText-Bold") format("otf");
}

@font-face {
    font-family: "Plus Jakarta Text";
    font-style: extrabold;
    font-weight: 800;
    font-display: swap;
    src: local("PlusJakartaText-ExtraBold") format("otf");
}
