//----------------------------------------------   
// Family: Manrope
//  
// Variable
//----------------------------------------------

@font-face {
  font-family: 'Manrope';
  src: 
    url('./Manrope.ttf') 
    format(‘woff2 supports variations’),
    url('./Manrope.ttf') 
    format('woff2-variations');
  font-stretch: 25% 150%;
  font-style: oblique 0deg 10deg;
  font-weight: 200 800;
  font-display: swap;
}